<div class="modal-header">
    <h3 class="modal-title">Edit Schedule</h3>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">

    <div class="form-group">
        <label for="morning">Morning</label>
        <input type="text" class="form-control" id="morning" placeholder="" ng-model="vitamin.Morning">
    </div>

    <div class="form-group">
        <label for="breakfast">Breakfast</label>
        <input type="text" class="form-control" id="breakfast" placeholder="" ng-model="vitamin.Breakfast">
    </div>

    <div class="form-group">
        <label for="breakfast">Lunch</label>
        <input type="text" class="form-control" id="Lunch" placeholder="" ng-model="vitamin.Lunch">
    </div>

    <div class="form-group">
        <label for="breakfast">Afternoon</label>
        <input type="text" class="form-control" id="afternoon" placeholder="" ng-model="vitamin.Afternoon">
    </div>

    <div class="form-group">
        <label for="breakfast">Dinner</label>
        <input type="text" class="form-control" id="dinner" placeholder="" ng-model="vitamin.Dinner">
    </div>

    <div class="form-group">
        <label for="breakfast">Night</label>
        <input type="text" class="form-control" id="night" placeholder="" ng-model="vitamin.Night">
    </div>

    </div>
    <div class="col-md-2"></div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>