<form name ="form" novalidate  >
    <div  id="container" ng-Controller="View1Ctrl">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">

                <table st-table="days" class="table table-striped">
                    <thead>
                    <tr>
                        <th>Day</th>
                        <th>Breakfast</th>
                        <th>Morning Snack</th>
                        <th>Lunch</th>
                        <th>Afternoon</th>
                        <th>Dinner</th>
                        <th>Night</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-click="edit($index)" ng-repeat="row in days">
                        <td>{{row.date}}</td>
                        <td>{{row.breakfast}}</td>
                        <td>{{row.morningSnack}}</td>
                        <td>{{row.lunch}}</td>
                        <td>{{row.afternoonSnack}}</td>
                        <td>{{row.dinner}}</td>
                    </tr>
                    </tbody>
                </table>

                <h2>{{ users.username }}</h2>
                <div class="col-xs-4 text-center" ng-repeat="day in users.days">
                    <h3>Date: {{day.date}}</h3>
                    <div>Breakfast: <textarea rows="10" cols="50" ng-model="day.breakfast"></textarea></div>
                    <div>Morning Snack: <input type="text" ng-model="day.morningSnack"></div>
                    <div>Lunch: <textarea rows="10" cols="50" ng-model="day.lunch"></textarea></div>
                    <div>Dinner: <textarea rows="10" cols="50" type="text" ng-model="day.dinner"></textarea></div>
                </div>

                <!--
                <input type="submit" ng-click="debug()" value="Debug">

                <input type="submit" ng-click="reset()" value="Reset">
                -->
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</form>
